# Review

### 문제 01. 평균 계산하기

- 철수는 5개의 과목에서 주어진 리스트와 같은 성적을 받았습니다.

- 철수가 받은 성적의 평균을 계산하는 코드를 작성하세요.

In [2]:
# 각 성적은 0~100점 사이입니다.
grades = [65, 70, 100, 43, 50]

In [3]:
total = sum(grades)

count = len(grades)

average = total/count
print('평균:', average)

평균: 65.6

### 문제 2. 리스트를 한 번 만들어볼까요?
* 어떤 학급의 아이 5명의 키에 대한 정보가 주어집니다.
* 이를 리스트로 만들고 heights 라는 변수에 담아주세요.
*  175.3, 146, 184, 160, 167
> 단위인 cm는 표시하지 마세요. 숫자만!

In [4]:
heights = [175.3, 146, 184, 160, 167]
heights

[175.3, 146, 184, 160, 167]

### 문제 3. 리스트의 데이터 타입을 한 번 만들어볼까요?
 - 위 문제 2번에서 만든 리스트의 데이터 타입을 확인해봅시다.
> HINT : type() 를 이용하시면 됩니다. : )

In [ ]:
type(heights)

list

### 문제 4. '장훈이'이라는 친구가 전학을 왔네요.
* 이 친구의 키는 207cm 입니다. ()
* 이를 반영하여 코드로 구현해보고, heights의 길이를 구해보세요
* 한 명이 전학을 왔으니, 6명이 되었겠군요.
* 마찬가지로, cm는 표시하지 않습니다.
> HINT : append()

In [5]:
heights.append(207)
heights

[175.3, 146, 184, 160, 167, 207]

### 문제 5. 장훈이만 이름이 있는 것이 아니다!
- 5명의 아이들의 키는 있지만, 누구의 키인지 알 수 없었지만, 이제 알 수 있습니다.
  - 양세형: 146(cm),  유세윤: 160(cm),  서강준: 167(cm),  유재석: 175.3(cm),  서장훈: 207cm
  - cm 는 표시하지 않습니다.
- 데이터 타입 중 Dictionary로 위처럼 이름(name - key)과 키(height - value)를 같이 붙여주려고 합니다.
- 이를 코드로 작성해서 class_A 라는 변수에 담아줍니다.

In [8]:
class_A = {"양세형": 146, "유세윤": 160, "서강준": 167, "유재석": 175.3, "서장훈": 207}
class_A

{'양세형': 146, '유세윤': 160, '서강준': 167, '유재석': 175.3, '서장훈': 207}

In [9]:
## 세형이의 키를 알아볼까요?
print(class_A["양세형"], 'cm')

146 cm

### 문제 6. 이번에는 키로 학급의 어린이를 검색해보려고 합니다.
 - 예를 들면, "175.3cm 인 친구는 누구였지?"
 - 이를 코드로 구현해보고, 키가 175.3cm 인 친구를 찾아봅시다.
 > HINT : for 문을 이용해봅시다.

In [ ]:
for name, height in class_A.items():
    if height == 175.3:
        print(name)

유재석

In [ ]:
for a, b in class_A.items():
  print(b)

146
160
167
175.3
207

### 문제 7. 간단한 계산기 함수를 만들어봅시다.
 - 더하기 기능의 간단한 함수를 코드로 작성해봅니다.
 - 이번에는 파라미터 number_01, number_02 를 받고, 이 둘을 더하는 함수 plus()를 코드로 작성합니다.
    - 파라미터: 함수를 선언할 때 호출하는 부분에서 보내주는 데이터를 받는 변수를 뜻합니다.
    - 아규먼트: 함수를 호출할 때 함수에 보내주는 데이터를 뜻합니다.
 - 함수를 구현한 후, 숫자 100과 23을 함수에 대입하여 함수를 실행해봅시다.

> HINT: def function_name(a, b)

In [10]:
def plus(number_01, number_02):
    print(number_01 + number_02)

In [11]:
plus(100, 23)

123

### 문제 8. 조건문이 들어간 간단한 함수를 코드 한 줄로 구현해봅시다.

 - 키가 180cm이상인 사람들의 경우, "키가 정말 크군요" 라는 메세지가 출력, 그렇지 않은 경우를 "계속 키가 클 것입니다. : )" 라는 메세지로 출력하도록 합니다.

 - height_high(181)과 height_high(178)을 각각 실행해볼까요?

In [12]:
 ## (정답)

## 1) height_high 함수를 다음과 같인 선언합니다.
def height_high(height):
    if height >= 180 :
        return '키가 정말 크군요'  
    else :
        return '계속 클 것 입니다. : )'

In [15]:
## 3) height_high(181)을 각각 실행해볼까요?
height_high(181)

'키가 정말 크군요'

In [16]:
## 4) height_high(178)을 각각 실행해볼까요?
height_high(178)

'계속 클 것 입니다. : )'